@import '../../index/mundo/variavel.css;';

aside {
    
    grid-row: 3;
    align-items: center;
    justify-items: center;
    
    background-color: var(--Cinza);
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.074)
}

.card {
    width: 300px;
    height: 300px;
    padding: 0 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    
}

span {
    font-size: 30px;
    font-weight: 600;
    color: var(--Laranja);
    
}

.card__content {
    font-size: 15px;
    line-height: 18px;
    color: #333;
}

.card__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card__form input {
    margin-top: 10px;
    outline: 0;
    border: 0;
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    
    color: black;
}

.card__form button {
    border: 0;
    background: var(--Laranja);
    color: #fff;
    padding: 0.68em;
    border-radius: 14px;
    font-weight: bold;
}

.sign-up:hover {
    background-color: var(--Laranja);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.178);
    cursor: pointer;
} 
